#reload {
		color: slateblue;
		border: 2px solid slateblue;
		background-color: #fff;
		width: 100%;
		padding: 1rem;
}
#reload:active {
		color: #fff;
		border: 2px solid slateblue;
		background-color: slateblue;
		width: 100%;
		padding: 1rem;
}

svg {
		display: table;
		margin-right: auto;
		margin-left: auto;
		height: 100vh;
}

text {
		cursor: pointer;
}

.hide {
		display: none !important;
		visibility: hidden !important;
}

#message {
		position: fixed;
		display: block;
		visibility: visible;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		font-size: 10rem;
		text-align: center;
		z-index: 9999;
		cursor: pointer;
}

#message.correct {
		color: green;
}

#message.incorrect {
		color: red;
}

/* Desktop */
@media only screen and (max-width: 1199px) {
		#message {
				font-size: 6rem;
		}
}

/* Tablet */
@media only screen and (max-width: 991px) {
		#message {
				font-size: 4rem;
		}
}

/* Mobile */
@media only screen and (max-width: 600px) {
		#message {
				font-size: 2rem;
		}
}
